<p id="notice"><%= notice %></p>

<h1><%= @list.title %> <small><%= link_to '', edit_list_path(@list), class: ['glyphicon', 'glyphicon-pencil'] %></small></h1>

<%= @list.description %>

<h2>Items</h2>

<table class="table table-striped">
  <tbody>
    <% @list.items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item %></td>
        <td class="right-align">
          <%= link_to '', item, method: :delete, data: { confirm: 'Are you sure?' }, class: ['glyphicon', 'glyphicon-trash'], title: 'Destroy' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Item'.html_safe, new_list_item_path(@list) %></td>
    </tr>
  </tfoot>
</table>

<%= link_to 'Back', lists_path %>
